<div class="add-image" style="margin-bottom: 20px; display: flex; gap: 10px; align-items: center;">
    <mat-form-field appearance="outline" style="width: 250px;">
        <mat-label>URL de l'image</mat-label>
        <input matInput [(ngModel)]="inputUrlImage" placeholder="URL de l'image" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="min-width: 180px;">
        <mat-label>Catégorie</mat-label>
        <mat-select [(ngModel)]="selectedCategory">
            <mat-option [value]="null">Choisir une catégorie</mat-option>
            @for (item of this.categorie.categories(); let i = $index; track $index) {
            <mat-option [value]="item">{{item.titre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addImageToCategory(selectedCategory!)"
        [disabled]="!selectedCategory">Ajouter
    </button>

    <mat-slider min="10" max="100" step="1" thumbLabel style="width: 200px;">
        <input matSliderThumb [(ngModel)]="valeurSlider" />
    </mat-slider>
    {{valeurSlider()}}
</div>

@for (item of this.categorie.categories(); let i = $index; track $index) {
<div class="category-card">
    <div class="title" [ngStyle]="{ 'font-size': valeurSlider() + 'px' }" [ngClass]="'color-' + i">
        {{item.titre}}
    </div>
    <div class="content">
        @for (img of item.images; let imgIdx = $index; track $index) {
        <div style="position: relative; display: inline-block;" [class.image-moved]="isMovedImage(i, imgIdx)"
            (mouseenter)="hoveredImg.set(i + '-' + imgIdx)" (mouseleave)="hoveredImg.set(null)">

            <!-- Affichage -->
            <img [src]="img" [alt]="item.titre" />

            <!-- Suppression -->
            @if (hoveredImg() === (i + '-' + imgIdx)) {
            <button mat-mini-fab color="warn" aria-label="Supprimer l'image" class="delete-button"
                (click)="removeImageFromCategory(item, imgIdx)">
                <mat-icon>delete</mat-icon>
            </button>

            <!-- Déplacement -->
            <div class="move-btn">
                @if (i > 0) {
                <button mat-mini-fab color="primary" aria-label="Monter l'image dans la catégorie précédente"
                    class="move-up-button" (click)="moveImageUp(item, imgIdx)">
                    <mat-icon>arrow_upward</mat-icon>
                </button>
                }
                @if (i < this.categorie.categories().length - 1) { <button mat-mini-fab color="primary"
                    aria-label="Descendre l'image dans la catégorie suivante" class="move-down-button"
                    (click)="moveImageDown(item, imgIdx)">
                    <mat-icon>arrow_downward</mat-icon>
                    </button>
                    }
            </div>
            }
        </div>
        }
    </div>
</div>
}